*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header navigasi*/
.header {
    display: flex;
    justify-content:space-between;
    position: sticky;
    align-items: center;
    max-width: 100%;
    height: 65px;
    background-color: rgba(92, 99, 99, 0.753);
    padding-right: 200px;
    padding-left: 200px;
}

.logo {
    color: brown;
    font-size: 2rem;

}

.navigasi ul li {
    display: inline;
    padding: 10px;
}

.navigasi ul li a {
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #e0dddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2px;
    transition: 0.5s;
}

.navigasi ul li a:hover {
    text-decoration: none;
    font-size: 14px;
    color: aliceblue;
    border: 1px solid #1f1f1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2px;
}

/*header navigasi end*/




/*carousel*/

.judul1 {
    position: absolute;
    left: 50%;
}
.carousel-container {
    position: relative;
    width: 80%;
    margin: 40px auto;
    max-width: 1000px;
}

.carousel-border {
    border: 1px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 400px;
}

.gambar-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.gambar-carousel.active {
    opacity: 1;
}

.gambar-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-nav {
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.kiri, .kanan {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: aliceblue;
}

.main-content {
    background-color: #33333325;
    display: flex;

}
/*responsive*/
@media (max-width: 768px) {
    .carousel-border {
        padding: 1px;
    }
    .carousel {
        height: 300px;
    }
    .carousel-nav {
        bottom: 40%;
    }
    .judul1 {
        position: absolute;
        left: 40%;
        top: 70px;
    }
    .header {
        display: flex;
        justify-content:space-between;
        position: sticky;
        align-items: center;
        max-width: 100%;
        height: 65px;
        background-color: rgba(92, 99, 99, 0.753);
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 480px) {
    .carousel-border {
        padding: 2px;
    }
    .carousel {
        height: 170px;
    }
    .navigasi ul li {
        display: inline;
        padding: 2px;
    }
    .judul1 {
        position: absolute;
        left: 40%;
        top: 70px;
    }
}

@media (max-width: 320px) {
    .carousel {
        height: 150px;
}   
    .carousel-nav {
        position: absolute;
        bottom: 50px;
        left: 0;
    }
}

@media (min-width: 820px) and (max-width: 834px) {
    .carousel {
        position: relative;
        width: 100%;
        height: px;
    }
    .carousel-border {
        padding: 1px;
    }
    .carousel-nav {
        bottom: 100px;
    }
    .judul1 {
        position: absolute;
        left: 100%;
        top: 60px;
    }
}
/*responsive end*/

/*carousel end*/



/*package*/
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    margin: 20px;
    width: calc(33.33% - 40px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.card-content button {
    background-color: #505050;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-card a {
    text-decoration: none;
    color: #fff;
}
/*zona responsive package*/
@media (max-width: 768px) {
    .card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}
/*zona responsive package end*/
/*package end*/

/*kontak saya*/
.contact-container {
    width: 80%;
    margin: 40px auto;
    max-width: 600px;
}

.contact-border {
    border: 0px solid #333;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-border h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    background-color: #505050;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#error {
    color: red;
}
/*zona responsive kontak*/
@media (max-width: 768px) {
    .contact-border {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .contact-border {
        padding: 5px;
    }
}
/*zona responsive kontak end*/

/*kontak saya end*/